
h1 {
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.432);
    padding: 3px;
    border-radius: 4px;
    margin: 13px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.329);
    font-variant: small-caps;
} 

h2 {
    margin: 18px;
    font-variant: small-caps;
}

.style {
    margin: 13px;
    padding: 23px;
    border: 1px solid rgba(109, 106, 106, 0.418);
    border-radius: 9px;
    background-color: rgba(241, 247, 245, 0.418);
    color: black;
    box-shadow: 2px 2px 2px rgba(109, 106, 106, 0.418);
}

.fontebody {
    font-family: monospace;
}


